<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Portfólio</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Pacifico&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1>Bem-vindo ao meu mundo!</h1>
    </header>
    <div class="container">
        <div class="card">
            <img src="/static/css/img/minhafoto.jpg" alt="Minha Foto" class="profile-pic">
            <h2>Seu Nome</h2>
            <p>💻 Desenvolvedor apaixonado por tecnologia! Buscando oportunidades para criar e inovar.</p>
            <ul>
                <li><a href="https://github.com/PauloMatiasxvs" target="_blank">🌟 GitHub</a></li>
                <li><a href="https://www.linkedin.com/in/paulo-levi-oliveira-matias-6524801ab/" target="_blank">💼 LinkedIn</a></li>
                
            </ul>
        </div>
    </div>
    <footer>
        <p>Feito com 💖 por <strong>Levi</strong></p>
    </footer>
</body>
</html>
